.GetRecipe {
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  display: flex;
  margin-top: 32px;

  &__image {
    display: grid;
    flex: 1;
    margin: 0;
    position: relative;
  }

  &__title, &__subtitle {
    font-weight: bold;
    margin-bottom: 9px;
  }

  &__caption {
    position: absolute;
    top: 12px;
  }

  &__title, &__category, &__area {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 9px;
  }

  &__title {
    top: 32px;
  }

  &__category {
    top: 64px;
  }

  &__area {
    top: 96px;
  }

  &__recipe {
    flex: 1;
    padding: 12px;
  }

  &__instructions {
    font-size: 14px;
    margin-bottom: 15px;
    white-space: pre-wrap;
  }

  &__ingredients {
    font-size: 14px;
  }
}