.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  &__title, &__subtitle {
    color: #fff;
  }

  &__title {
    font-size: 69px;
  }

  &__main {
    flex: 1;
  }

  &__footer {
    color: #fff;
    margin: 12px 0;
  }

  &__footer-link {
    color: #fff;
  }
}