.GetMeal__Button {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 32px;
  padding: 9px 24px;
}

.GetMeal__Button:hover,
.GetMeal__Button:focus {
  background-color: #666;
  border: 1px solid #666;
  outline: 0;
}
